*{
  margin: 0;
  padding: 0;
}

body{
  /* background-image: url("../src/components/images/plane2.jpg"); */
  background-image: url("../src/components/images/plane1.jpg");
  background-size:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.App {
  text-align: center;
}
.support{
  margin-top: 5px;
  width: 1000px;
}
